.hero-container {
  position: relative;
  z-index: 100;
}

.hero-text {
  z-index: 200;
  position: relative;
}

.hero-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  
}